{%extends 'layout.html' %}
<!-- Add your content of header -->
{%block content%}
<!-- inject header -->
<body class="">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>
  {%include 'nav.html'%}
  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Here's a little bit about me</h3>
                  <p>
                    I'm a Lagos based Backend developer and lawyer and I enjoy
                    using web technologies to solve problems and create value.
                    When i'm not coding or drafting complex legal contracts, i'm
                    watching anime, reading books, playing video games or
                    pondering the secrets of the universe
                  </p>
                  <h3>The Technologies I use</h3>
                  <p>
                    Mostly i use Javascript particularly NodeJs, I also use
                    python and the backend for this site was built in it's
                    entirety with python and flask.
                  </p>

                  <h3></h3>
                  <p></p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img
                    src="https://res.cloudinary.com/duxais9hy/image/upload/v1590526077/Portfolio1stIt_images/APTZ7323bw_e36mul.webp"
                    class="img-responsive"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>
            © UNTITLED | Website created with
            <a
              href="http://www.mashup-template.com/"
              title="Create website with free html template"
              >Mashup Template</a
            >/<a href="https://www.unsplash.com/" title="Beautiful Free Images"
              >Unsplash</a
            >
          </p>
        </div>
      </div>
    </div>
  </footer>

  {%endblock%}
</body>
